@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

    /* heavier pink:  #e65f73; 
       deep red: #e60829
       mid-green: rgb(173, 187, 109) 
       mid-blue: rgb(143, 176, 197)
       pale carnation: rgb(250, 232, 224) */


* {
    box-sizing: border-box;
}

/* #region mobile */
body {
    background-color:rgb(252, 246, 236);
    color: rgb(2, 105, 173);
    font-family:'Source Serif Pro', Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.096);
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: underline dotted;
    color: #000000;
    text-decoration-color: #0000003b;
}

main {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 auto;
    padding: 1.5rem 0 0 0;
    display: inline;
}


h2 {
    padding-bottom: 1rem;
    letter-spacing: 2px;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

nav li {
    text-align: center;
    margin: 1rem auto;
    height: min-content;
    list-style: none;
}

nav a {
    color:#d86a04;
    text-decoration-color: #d86b0462;
}

nav img.image-instagram {
    mix-blend-mode: difference;
    width: 15px;
}

nav img.image-instagram:hover {
    opacity: .8;
}

section {
    padding: 2rem;
}

section.ghost {
    display: none;
}

section > * {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

section:nth-of-type(1) {
    text-align: center;
}

section.page-header {
    background-color: rgb(255, 212, 206);
    color:rgb(212, 66, 8);
}

section.navigation {
    background-color:rgb(253, 217, 185);
    display: flex;
    flex-flow: row nowrap;
    color: rgb(177, 83, 1);
}

section.intro {
    background-color:rgb(253, 248, 200);
    color:rgb(204, 116, 1);
}

section.labs {
    background-color:rgb(220, 240, 220);
    color:rgb(35, 117, 128);
}

section.projects {
    background-color: lightcyan;
}

ol {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

ol li {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 1px dashed;
    margin: .5rem;
    width: 9rem;
    height: 9rem;
    padding: .5rem;
}

footer {
    background-color: lavender;
    color: rgb(55, 55, 143);
    margin: 0;
    padding: 1rem 0 .5rem 0;
    text-align: center;
    font-size: 1.25rem;
}